<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <link href="StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <a href="Index.cshtml">Ir a pagina 1</a>
        <a href="http://www.google.com.ar">La vieja confiable</a>
        <a href="Index2">Ir a la pagina 2</a>
        @RenderBody()
    </body>
</html>
