@{
    Page.Title = "Mi first web pagina";
    Layout = "_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Best Web Page Ever</title></head>
<body>

    <div>
        <h1>Titulo</h1>
        <h2>Titulo mas chiquito</h2>
        <p>Esto es un parrafo</p>
        <img src="https://media.giphy.com/media/BIuuwHRNKs15C/200.gif" alt="Hola" />

    </div>
    <div id="Gabisdiv">
        <ul>
            <li>Item</li>
            <li>Otro item</li>
        </ul>
        <ol>
            <li>Primer item</li>
            <li>Segundo item</li>
        </ol>
    </div>

</body>
</html>
